@import "./variables.scss";

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#myGrid {
  width: 100% !important;
  height: 750px !important;
}

.ag-theme-balham {
  font-size: 16px;
  font-family: "Barlow", sans-serif;
}
.ag-theme-balham .ag-header {
  background-color: var(--header-bg);
}

.ag-header-cell-text {
  color: var(--header-item-color);
}

.ag-theme-balham .ag-row {
  background: var(--grid-row-bg);
}

.ag-header-cell:first-child {
  border-right: 2px solid var(--border-color);
}
.ag-theme-balham .ag-ltr .ag-cell:first-child {
  border-right: 2px solid var(--border-color);
}

.ag-theme-balham .ag-header-cell::after {
  background-color: transparent !important;
}

.ag-theme-balham .ag-cell {
  line-height: 48px;
}

.ag-theme-balham .ag-ltr .ag-cell {
  font-weight: 400;
  color: var(--grid-cell-color);
  span {
    width: 50px;
  }
}

.cell-link {
  color: var(--cell-link);
  text-decoration: none;

  &:hover {
    color: var(--cell-link-hover);
  }
}

.ag-theme-balham {
  .ag-row {
    border: 1px solid var(--border-color);
    &:hover {
      background: var(--header-bg);
    }
  }
}

.ag-theme-balham .ag-root-wrapper {
  border: none;
}
.ag-theme-balham .ag-header {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.ag-header-cell-sortable {
  cursor: default;
}
