@import "./variables.scss";
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 4px;
  margin-top: 12px;
  margin-left: 12px;
  width: 28px;
  height: 22px;
}
.green-box {
  background: $change-pos-bg;
  color: $change-pos-color;
}

.red-box {
  background: $change-neg-bg;
  color: $change-neg-color;
}
