@import "./variables.scss";
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 4px;
  margin-top: 12px;
  margin-left: 12px;
  width: 28px;
  height: 22px;
}
.green-box {
  background: var(--change-pos-bg);
  color: var(--change-pos-color);
}

.red-box {
  background: var(--change-neg-bg);
  color: var(--change-neg-color);
}
