$header-bg: rgb(115, 115, 255, 0.03);
$header-item-color: #8282bb;
$border-color: #e3e3fc;

$cell-link: #7373ff;
$border-color: rgb(49, 49, 77, 0.1);

$change-pos-bg: rgba(33, 217, 155, 0.1);
$change-pos-color: #21d99b;

$change-neg-bg: rgba(255, 77, 121, 0.1);
$change-neg-color: #ff4d79;
